/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/*
    Created on : Oct 2, 2015, 5:27:34 PM
    Author     : rahul
*/

body {
    margin: 150px;
    padding: 0px;
    font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    line-height: 20px;
    background-color: #ddffff;
    color: #000000;
}

body .nav a {
    font-size: 20px;
    font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
}

body a {
    color: #000000;
    text-decoration: underline;
}

.company {
    color: #000000;
    font-size: 20px;
    font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
}
div .img {
    margin: 5px;
    padding: 5px;
    float: left;
    text-align: center;
    width: 257px;
    float: right;
    top: 166px;
    border-radius: 106px;
}
button {
  display: inline-block;

  padding: 8px 19px;
  font-size: 16px;
  font-family: "Bitter",serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}
section.press button {
  color: #fff;
  background-color: #6496c8;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px #27496d;
}
section.press button:hover,
section.press button.hover {
  background-color: #417cb8
}
section.press button:active,
section.press button.active {
  background-color: #417cb8;
  box-shadow: 0 5px #27496d;
  transform: translateY(5px);
}
button:focus {
  outline: none
}

main header {
    width: 100%;
}
.edu{
    -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
}

@media screen and (max-width: 620px) {
    body {
        padding: 25px;
    }

}

@media only screen and (max-device-width: 736px) and (orientation: portrait) {
    body {
        width: 100%;
        font-size: 20px;
        line-height: 1.1em;
    }
    body .nav a {
    font-size: 30px;
    font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
}
}
