/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/*
    Created on : Oct 2, 2015, 5:27:34 PM
    Author     : rahul
*/

body {
    margin: 150px;
    padding: 0px;
    font-family: 'Rockwell', Courier, Georgia, Times, 'Times New Roman', serif;
    background-color: #dddddd ;
    color: #000000;
}

body .nav a {
    font-size: 30px;
    font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
}

body a {
    color: #000000;
    text-decoration: underline;
}
.company{
    color: #000000;
    font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
}
main {


}

main header {
    width: 100%;
}

@media all and (min-width: 1000px) {
    main {
        width: 50%;
        margin: 200px auto auto 10px;
    }
}
