/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/*
    Created on : Oct 2, 2015, 5:27:34 PM
    Author     : rahul
*/

body {
    margin: 150px;
    padding: 0px;
    font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    line-height: 20px;
    background-color: #dddddd;
    color: #000000;
}

body .nav a {
    font-size: 20px;
    font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
}

body a {
    color: #000000;
    text-decoration: underline;
}

.company {
    color: #000000;
    font-size: 20px;
    font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
}
.button {
    font-family: 'Rockwell Bold', monospace;
    height: 75px;
    width: 150px;
    margin: 20px auto;
    background-color: transparent;
    text-align: center;
    font-size: 19px;
    box-shadow: 5px 5px 10px rgba(100, 100, 100, .8);
}

main header {
    width: 100%;
}

@media screen and (max-width: 620px) {
    body {
        padding: 25px;
    }

}

@media only screen and (max-device-width: 736px) and (orientation: portrait) {
    body {
        width: 100%;
        font-size: 20px;
        line-height: 1.1em;
    }
    body .nav a {
    font-size: 30px;
    font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
}
}
